*{
	margin: 0;
	padding: 0;/*初始化*/
	font-family:"新宋体";
	text-decoration:none;

}



a,a:hover,a:active,a:visited,a:link,a:focus{
　　-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body{

background: url(img/bg.jpg) no-repeat;
background-size:100% auto;
background-attachment:fixed;
-webkit-background-size: cover;
background-position: center;
backdrop-filter:blur(3px);


-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}


	#box {
	position: relative;
	width: 88%;
	min-height: 720px;
	height: 100%;
	max-width: 360px;
	top: 5%;
	margin-left: auto;
	margin-right: auto;
	
	
			}
		
			#box::before {
			content: '';
			border-radius: 30px;
			background: #fff;
            width: 100%;
            height: 100%;
            padding-bottom: 12px;
            position: absolute;
            z-index: -1;
            filter: opacity(25%);
            -webkit-filter: opacity(25%);
			}
		

#pa1{

    height: 40px;
	width: 50%;
	background-color:rgba(254,254,255,0.5);
	position: absolute;
	top: 100px;
	overflow: auto;
	border-top-left-radius: 14px;

	text-align:center; 
	line-height: 40px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1em;
	text-indent: 1em;
	z-index: 0;
	color: #595959;


}
#pa2{
    height: 40px;
	width: 50%;
	background-color:rgba(254,254,255,0.5);
	position: absolute;
	top: 100px;
	right:0px;
	overflow: auto;
	border-top-right-radius: 14px;

	text-align: center;
	line-height: 40px;
	text-decoration: none;
	z-index: 0;
	font-size: 16px;
	letter-spacing: 1em;
	text-indent: 1em;
	font-weight: bold;
	color: #595959;
}




#pa2:hover 
, #pa1:hover{
	border-bottom:solid 3px #2c78c9;
	background-color:rgba(144,145,145,0.3);
}



/*target伪类*/
#page1:target{

display: none;

}

#page2:target{
	display: none;
	
}
/*容器*/
#main{
position: relative;
top: 144px;
width: 100%;
height: auto;
overflow: hidden;
/*background-color: rgba(0,0,0,0);*/
background: url(./img/card.png) no-repeat;
background-size: cover;
}

.a{
display:block;
width: 180px;
height: auto;
position: absolute;
top:-40px;
right: 16px;

}
#indor{
text-align: center;
font-family: "微软雅黑";
display: block;
position: absolute;
top: 6px;
left:33px;
font-size: 33px;
color: #fff;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);
}


.card{
	position: relative;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	width: 94%;
	background: rgba(255, 255, 255,0.3);
	padding-top: 40px;
	padding-bottom: 12px;
	text-align: center;
	color: white;


		}
		.pc {
		background-color: #fff;
		border-radius: 50%;
		width: 140px;
		height: 140px;
			}
			.card h1 {
				font-size: 40px;
				letter-spacing: 4px;
				font-weight: 400;
			}
			.card h5 {
				font-size: 20px;
				letter-spacing: 3px;
				font-weight: 100;
				padding-bottom: 30px;
			}
			.card p {
				text-indent: 2em;
				text-align: justify;
				padding-top: 5px;
				padding-left: 60px;
				padding-right: 60px;
				font-size: 17px;
			}
			.i{

margin-top: 18px;
margin-left: 8px;
margin-bottom: 10px; 

color: #fff;

font-family: "微软雅黑";
font-size: 15px;
}





.paper_plane{
width: 100px;
height: auto;
position: absolute;
bottom: 70px;
left: 10px;

}
.grass{
	width: 100%;
	height: 60px;
	position: relative;
	bottom: -14px;
}

/*下半部分*/

.list{
	margin-top: 10px;
}
.li{
	padding-left: 6px;
	margin-bottom: 22px;
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	height: 78px;
	background-color: rgba(255, 255, 255,0.4);
	border-radius: 8px;

	
font-size: 24px;
font-weight: bold;
color: #595959;
line-height: 38px;

overflow: hidden;
}




#o{
float: right;
margin-top: 6.5px;
margin-right: 20px;

}
#xc{
float: left;
margin-top: 17px;
margin-left: 20px;
font-size:28px;
color: #eff;
font-family: "微软雅黑";

}









